@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color1: #FFF7E3;
  --color2: #E8DFCF;
  --color3: #FFF7EF;
  --color4: #E8D8CF;
  --color5: #FFE9E3;
  --color6: #807C78;
  --color7: #FFD1A3;
  --color8: #806952;
  --color9: #CCC6C0;
}

input{
  height: 35px;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

label{
margin-bottom: 10px;
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #1BC6B4; */
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

button{
  width: 40%;
  height: 35px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

body {
  font: 14px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav{
  background-color: var(--color4);
  height: 70px;
  margin: 15px 0 30px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.container-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}


.container{
  width: 100%;
  background-color: var(--color8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  
}

.container-login {
  background-color: var(--color4);
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  padding: 25px;
}

.form-login{
  display: flex;
  flex-direction: column;
}



.container-buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

#logo{
  border-radius: 50%;
  width: 10%;
  margin: 15px 0;
}

.new-client{
  background-color: var(--color4 );
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 250px;
  flex-direction: column;
  padding: 10px 15px ;
  border-radius: 10px;
}

.container-menu img{
  width: 60px;
  border-radius: 50%;
}

.new-client label, .new-client input{
  width: 50%;
}

.new-client h2{
  margin-bottom: 15px;
  text-align: center;
}